/* Fonts */
@font-face 
{
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.eot');
         url('fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-black-webfont.woff') format('woff'),
         url('fonts/roboto-black-webfont.ttf') format('truetype'),
         url('fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.eot');
         url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
         url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
}

#blocpage
{
    width: 100%;
    height: auto;
}
#accueil, #services, #portfolio:target {
    padding-top: 7em;
    margin-top: -7em;
}
body
{
    color: black;
    margin: 0px;
    font-family: "robotoregular", sans-serif;   
    font-size: 14.5px;
}

@media all and (max-width: 600px) {
    html, body, #blocpage {
        width: 100%;
        height: auto;
        font-size: 12px;
    }


}
@media all and (min-width: 600px) and (max-width: 800px) {
    html, body, #blocpage {
        width: 100%;
        height: auto;
    }
}
@media all and (min-width: 1600px) {
    html, body, #blocpage {
        width: 100%;
        height: auto;
    }
    body {
        font-size: 1.5em;
    }
}


/* Header */
header 
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    z-index: 8;
}

#logo 
{
    padding: 7px 0px 15px 86px;
    width: 300px;
}

nav ul 
{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-left: 86px;
    padding-bottom: 15px;
    list-style: none;
}

nav li {
margin-top: -1.5px;
left: 0;
margin-left: 35px;
font-size: 1em;
color: #4494bb;
opacity: 1;
}

nav a 
{
     color: #777777;
     text-decoration: none;
}

nav a:hover
{
    color: #575757;
    border-top: 4px solid #5cadd3;
    padding-top: 31.5px;
}



@media all and (max-width: 330px) {
    nav ul {
        font-size: 9px;
    }
}
@media all and (max-width: 614px) {    
    header {
        margin-bottom: 0;
        justify-content: center; 
        flex-wrap: wrap;
        bottom: 0;
        height: 110px;
    }  
     #logo {
        text-align: center;
        padding: 10px 0 10px 0;
        margin: 0;
        width: 50%;
    }
    nav ul {
        justify-content: center;
        padding-left: 10px;
        padding-right: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-right: 16px
    }
    nav li {
        padding-right: 14px;
    }
    nav a:hover {
        padding-top:5px;
        border-top: 2px solid #5cadd3;
    }
}
@media all and (min-width: 615px)and (max-width: 900px) { 
    header {
        align-items: center;
      }  
    #logo {
        padding-left: 30px;
    }
    nav ul {
        padding-bottom: 0;
        padding-left: 25px;
        padding-right: 30px;
    }
    nav li {
        padding-right: 10px;
    }
    nav a:hover {
        padding-top: 25px;
        border-top: 3px solid #5cadd3;
    }
}
@media all and (min-width: 901px) and (max-width: 1024px) {
    nav a:hover {
        padding-top: 24px;
    }
}
@media all and (min-width: 1599px) {
    header {
        height: 100px;
    }
    #logo {
        padding-bottom: 15px;
        width: 20%;
    }
    nav a:hover {
        padding-top: 25px;
        border-top: 5px solid #5cadd3;
    }
}

/* Accueil */
img
{
    max-width: 100%;
}
#banniere_image 
{
    background-image: url("images/slider/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 500px;
    color: #ffffff; 
    top: 80px;
    position: relative;
}

.slide_button_left {
    background-color: #434247;
    width: 20px;
    height: 20px;
    padding: 24px 0px 20px 8px;
    border-radius: 0px 60px 60px 0px;
    opacity: 0.8;
    position: absolute;
    top: 38.75%;
    text-align: left; 
}

.slide_button_right {
    position: absolute;
    right: 0;
    top: 38.75%;
    background-color: rgba(26, 29, 33, 0.5);
    width: 20px;
    height: 20px;
    text-align: right;
    padding: 24px 8px 20px 0px;
    border-radius: 60px 0 0 60px;
    opacity: 0.8;
}

.gauche, .droite {
    color: white;
}

.defil_bar {
position: absolute;
height: 4.2px;
width: 116px;
bottom: 0;
background: rgba(92, 173, 211, 1);
z-index: 1;
}

#banniere_description {
    padding-left: 7%;
    position: absolute;
    top: 25%;   
}

#banniere_description strong
{
  color: #5cadd3;
}


h1 {
    text-transform: uppercase;
    font-family: "robotomedium", sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
}
#banniere_description p {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 35px;
}


#banniere_image i {
    color: rgb(255, 255, 255);
}

.slide_bar {
    height: 4.2px;
    width: 99.9%;
    bottom: 0;
    background: rgba(106, 107, 110, 0.3);
    z-index: 1;
    position: absolute;
}


.button {
 padding: 10px 7px 10px 7px;
 width: 100px;
 color: white;
 background-color: #5cadd3;
 border-radius: 3px;
 text-align: center;
 box-shadow: 0 3px #4494bb;
 border: none;
 position: absolute;
 top: 56%;
 left: 7%;
}

.button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media all and (max-width:614px) {
    .slide_button_left, .slide_button_right  {
        display: none;
    }
    .slide_bar, .defil_bar {
        display: none;
    }
    
    #banniere_image {
    width: 100%;
    height: 483px;
    flex-direction: column;
    background-color: #f5f5f5;
    background-image: url("images/cta2/cta2-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    top: 6px;  
}  

    #banniere_description {
        text-align: center; 
        justify-content: center;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #accueil h1 {
        color: black;
        line-height: 1.5em;
        margin-bottom: 15px;
    }
    #banniere_description p {
        color: black; 
        line-height: 2em;
    }

    .button {
    width: 85%;
    top: 75%;
    font-size: 14px;
 
}

@media all and (min-width: 615px)and (max-width: 900px) {
    .gauche {
        width: 10px;
        height: 8px;
        padding: 14px 8px 15px 0px; 
        font-size: 0.8em;
     }
    .slide_bar {
        height: 2px;
    }

    .droite {
        width: 10px;
        height: 3px;
        padding: 13px 0 19px 8px; 
        font-size: 0.8em;
        margin-top: -18px;
    }
    #banniere_description {
        padding-left: 50px;  
        margin-top: 10px;
        width: 300px;
    }
    h1 {
        font-size: 1.4em;
    }
    
    .button {
        padding: 2px 7px 2px 7px;
    }
} 
@media all and (min-width: 901px) and (max-width: 1024px) {
   #banniere_description {
        padding-left: 75px;  
    }
    h1 {
        font-size: 1.5em;
    }
    #banniere_description p {
        width: 400px;
    }
    .button {
        padding: 2px 7px 2px 7px;
        width: 80px;
    }
}
  
 }

 @media all and (min-width: 1599px) {
    #accueil{
        width: 100%;
        }
    #banniere_image {
        width: 100%;
        padding-bottom: 8%;
    }
    .gauche {
        width: 20px;
        height: 30px; 
        font-size: 0.9em;
     }
    .slide_bar {
        height: 6px;
    }

    .defil_bar {
        position: absolute;
        height: 5.7px;
        width: 116px;
        background: rgba(92, 173, 211, 1);
        z-index: 1;
    }
    .droite {
        width: 20px;
        height: 30px; 
        font-size: 0.9em;
        margin-top: -38px;
    }

    .button {
        padding: 9px 14px;
        width: 125px;
        top: 62%;
    }
    
}




/* Services */
#services {
    margin-top: 130px;
    margin-bottom: 50px;
}

.separateur {
   display: flex;
   justify-content: center;
   font-size: 0.9em;
}

.point1{
    padding: 2px;
    position: absolute;
    font-size: 0.8em;
}

hr{

    background-color: #ebebeb;
    height: 1px;
    border: none;
    width: 116px;

}

i
{
    color: #5cadd3;
}


ul
{
    list-style: none;
}

section h3
{
    text-align: center;
    font-size: 2em;
}

section p {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: #65696e;
    line-height: 22px;
}


#sous_partie_services {
    display: flex;  
}

#sous_partie_services img {
   height: 100%;
    width: 43%;
    margin-right: 2%;
    margin-top: 1%;
}

#sous_partie_services li {
    display: flex;
    flex-direction: column;
}


.icon {
    position: relative;
}
.graphique {
    padding: 15px;
    margin-top: 15px;
    font-size: 25px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    position: absolute;
    width: 1.1em;
}
.point {
    position: absolute;
    margin-top: 38px;
    margin-left: 52px;
}
.text_style {
    margin-left: 90px;
    margin-top: -1%;
}
.text_style h3 {
    font-family: 'robotomedium', sans-serif;
    font-weight: bolder;
    margin-bottom: 1em;
}


.text_style p {
    font-family: 'robotoregular', sans-serif;
    line-height: 22px;
    color: #65696e;
    margin-top: -12px;
    text-align: justify;
}

/* Media-Queries pour "Services" et "Projets" */
@media all and (max-width: 614px) {
    #service section {
        padding-right: 20px;
        padding-left: 20px;
    }
    .services_description {
        text-align: justify;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 20px;   
        padding: 0;
        width: 100%;
    }
    #sous_partie_services img{
        display: none;
    }

}
@media all and (min-width: 1599px){
    .services_description  {
        line-height: 35px;
    }
    hr {
        width: 250px; 
    }
    .point1 {
        font-size: 0.6em;
        margin-top: 3px;
    }

    .slide_button_left, .slide_button_right {
    top: 46%;
}
}


@media all and (max-width: 614px) {
    #services {
        width: 100%;
        margin-top: 109px;
    }
    #sous_partie_services {
        display: flex; 
        margin-top: -60px;
        margin-bottom: -40px;
    }
    #services img {
        display: none;   
    }
    #sous_partie_services ul {
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .graphique {
        padding: 5px 3px 5px 5px;
        margin-top: 27px;
        font-size: 23px;
    }
    #sous_partie_services .point {
        position: absolute;
        margin-top: 42.7px;
        margin-left: 33px;
        font-size: 5px;
    }
    .text_style {
        margin-left: 50px;
    }
}


@media all and (min-width: 615px) and (max-width: 900px) {
        #sous_partie_services { 
            flex-direction: column;
            padding-top: 0;
            padding-right: 100px;
        }
        #services img {
           display: none;
        }
        
        .graphique {
            padding: 11px 8px 11px 11px;
            margin-top: 15px;
            font-size: 25px;
        }
        #sous_partie_services .point {
            margin-top: 35px;
            margin-left: 41px;
        }
        .text_style {
            margin-left: 90px;
        }
}

@media all and (min-width: 901px) and (max-width: 1024px) {
        #services img {
            width: 60%;
            padding: 0;
            align-self: center;
            margin-top: 0;
        }
        #sous_partie_services {
            margin-top: -95px;
        }   
        #sous_partie_services {
            padding-top: 100px;
            padding-right: 40px;
            padding-left: 0;
        }
}
@media all and (min-width: 1599px) {
    #sous_partie_services {
        margin-top: 60px;
    }
    #sous_partie_services p {
        line-height: 35px;
    }
    .graphique {
        padding: 13px 12px;
        margin-top: 45px;
        font-size: 33px;
    }
    #sous_partie_services .point {
        margin-top: 68px;
        margin-left: 53px;
        font-size: 15px;
    }
    .text_style {
        margin-left: 120px;
    }
}
/* ---------------------- */


/* Projets */
#portfolio {
    margin-top: 3em;
    margin-bottom: -2em;
}

li {
    position: relative;
}
.liens ul{
display: flex;
justify-content: center;
margin-top: 20px;
padding: 0;
list-style-type: none;
}

.lien_projet a {
text-decoration: none;
color: #64686d;
background-color: #e5e5e5;
padding: 10px 30px 10px 30px;
text-align: center;
}

.lien_projet a:hover {
    color: rgb(255, 255, 255);
    background-color: #5cadd3;
    padding: 10px 30px 10px 30px;
    box-shadow: 0 -3px #4494bb inset;
}


#all_works {
color: rgb(255, 255, 255);
background-color: #5cadd3;
padding: 10px 30px 10px 30px;
box-shadow: 0 -3px #4494bb inset;
}

.lien_projet .fleche {
margin-top: -2px;
left: 0;
margin-left: 50px;
font-size: 2em;
color: #4494bb;
opacity: 1;
}


.fleche {
    opacity: 0;
    position: absolute;
}




#img_works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 50px;
    margin-bottom: 59px;
    color: white;
}

.photo img {
    display:block;
}

.photo {
    width: 20%;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
    transition-duration: 1.3s;
}
.photo_title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition-duration: 1.3s;
}

.photo i {
    transition-duration: 1.3s;
}

.photo_description  {
    position: relative;
    padding-left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.photo_title h3 {
    font-size: 0.9em;
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 3px;
}
.photo_title p {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.3em;
    color: white;
    margin: 0;
    padding-bottom: 15px;
}
.photo_description i {
    color: white;
    font-size: 0.8em;
    border: 1px solid white;
    border-radius: 100%;
    padding: 7px;
    background-color: #5cadd3;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -1.2%;
    margin-top: -10px;
    margin-right: 20px;
    
}
.photo:hover .photo_title {
     opacity: 1;
     
}
.photo:hover i {
    opacity: 1;
}

@media all and (max-width: 600px) {
    #portfolio {
        width: 100%;
        margin-bottom: 116%;
    }

    .photo {
        float: left;
        padding: 31px;
        width: 57%;
    }

    .photo_description {
    float: left;
    top: -31px;
    left: 31px;
    width: 69.4%;
    font-size: 14px;
    }
    .photo_description i {
    font-size: 12px;
    }

    .lien_projet a {
    padding: 10px;
    font-size: 8px;
}

.lien_projet .fleche {
    margin-left: 41px;
}
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #portfolio {
        width: 100%;
        margin-bottom: 3%;
    }
    .liens ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lien_projet a {
        padding: 4px;
        font-size: 0.7em;
    }
    .lien_projet a:hover { 
        padding: 4px 4px 4px 4px;
        
    }
    .lien_projet .fleche {
        margin-top: -2px;
        margin-left: 43px;
        font-size: 1.8em;
    }
    .photo {
        float: left;
        padding: 28px;
        width: 38%;
    }
    .photo_description { 
       float: left;
       top: -28px;
       left: 28px;
       width: 78.5%;
       font-size: 20px;
    }
    
   .photo_description i {
    font-size: 9.3px;
    background-color: #5cadd3;
    border: 1px solid white;
    }

    .photo_title {
        opacity: 0;
    }
    .photo_title h3 {
        font-size: 0.6em;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 1px;
    }
    .photo_title p {
        padding: 0;
        font-size: 0.5em;
        line-height: 1.5em;
        padding-bottom: 3px;
        margin: 0;    
    }
} 

@media all and (min-width: 800px) and (max-width: 1599px) {
    .photo {
        float: left;
        padding: 3px;
        width: 30%;
}

.photo_description {
    float: left;
    bottom: 4px;
    left: 3px;
    width: 97.4%;
    font-size: 19px;
}

.photo_description i {
    font-size: 13.3px;
    margin-top: -4px;
    margin-right: 25px;
    margin-left: -13px;
    padding: 7px;
    background-color: #5cadd3;
    border: 1px solid white;
}
}

@media all and (min-width: 1600px) {
    .lien_projet .fleche {
     margin-top: -7px;
    font-size: 1.7em;
    margin-left: 62px;
}
.photo_description i {

    font-size: 13.3px;
    margin-top: -4px;
    margin-right: 25px;
    margin-left: -13px;
    padding: 7px;

}
}
